:root {
    --gold: #D4AF37;
    --black: black;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

ul {
    list-style-type: none;
}

.navbar {
    background-color: var(--gold);
    display: flex;
    height: 115px;
    align-items: center;
    padding: 30px;
    justify-content:
}

.navbar-brand {
    font-size: 30px;
}

.section1 {
    height: 77.5vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers {
    text-align: center;
}



.headers h1 {
    margin: 100px;
    border: #D4AF37;
    color: var(--gold);
    padding: 40px;
    font-size: 90px;
    cursor: pointer;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

h1 span:hover {
   color: var(--gold);
   animation: none;
   opacity: 100%;
}

h1:hover {
   color: var(--gold);
   animation: none;
   opacity: 100%;
}

.btnDiv {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: var(--black);
}

.downBtn1 {
    width: 0; 
    background-color: black;
            height: 0; 
            border-left: 20px solid transparent;
            border-right:20px solid transparent;
            border-top: 20px solid var(--gold);
            
            margin: 2rem;
}
/*Section 2*/

.downBtn2 {
    width: 0; 
    background-color: black;
            height: 0; 
            border-left: 20px solid transparent;
            border-right:20px solid transparent;
            border-top: 0px solid transparent;
            border-bottom: 20px solid var(--gold);
            margin: 2rem;
}

.section2{
    height: 100vh;
    background-color: var(--black);
    position: relative;
}

.gold {
    background-color: var(--gold);
    height: 120px;
}

#headers {
    text-align: center;
    border: #D4AF37;
    color: var(--black);
    font-size: 90px;
}

.card {
    margin-top: 65px;
}

.btnDiv2 {
    position: absolute;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: var(--black);
    bottom: 80px;
}

/* Section 3 */
.section3{
    height: 100vh;
    background-color: var(--black);
    position: relative;
}
      @keyframes faulty-flicker {
        0% {
            opacity: 0.1;
        }
        2% {
            opacity: 0.1;
        }
        4% {
            opacity: 0.5;
        }
        19% {
            opacity: 0.5;
        }
        21% {
            opacity: 0.1;
        }
        23% {
            opacity: 1;
        }
        80% {
            opacity: 0.5;
        }
        83% {
            opacity: 0.4;
        }
    
        87% {
            opacity: 1;
        }
    }

      @keyframes text-flicker {
        0% {
            opacity: 0.1;
        }
    
        2% {
            opacity: 1;
        }
    
        8% {
            opacity: 0.1;
        }
    
        9% {
            opacity: 1;
        }
    
        12% {
            opacity: 0.1;
        }
        20% {
            opacity: 1;
        }
        25% {
            opacity: 0.3;
        }
        30% {
            opacity: 1;
        }
    
        70% {
            opacity: 0.7;
        }
        72% {
            opacity: 0.2;
        }
    
        77% {
            opacity: 0.9;
        }
        100% {
            opacity: 0.9;
        }
    }